<input [(ngModel)]="username">
<div>
  <p [innerHTML]="textBody"></p>
</div>
<div [innerHTML]="listGroup"></div>
<ng-container *ngIf="groupName == undefined"><button (click)="JoinGroup()">Join</button></ng-container>
<ng-container *ngIf="groupName != undefined">
  <button (click)="LeaveGroup()">Leave</button>
  <form (submit)="SendMsg($event)">
    <textarea [(ngModel)]="txtChat" cols="30" rows="10"></textarea> <br>
    <button type="submit">Kirim</button>
  </form>
</ng-container>
<router-outlet></router-outlet>
